.caracola{
  color:coral;
  text-align:center;
}

.contenedor {
 
  background-color: brown;
  width: 300px;
  height: 300px;
}

.cajita1 {
  background-color:lightgreen;
  width: 100px;
  height: 100px;
  position:absolute;
}

.cajita2 {
  background-color: green;
  width: 100px;
  height: 100px;
  margin-left:100px;
  position:absolute;
  
}

.cajita3 {
  background-color: #2F4F4F;
  width: 100px;
  height:100px;
  margin-left:200px;
  
}

.cajita4 {
  background-color: red;
  width: 100px;
  height:100px;
  position:absolute;
}

.cajita5 {
  background-color: #6495ED;
  width: 100px;
  height:100px;
  margin-left:100px;
  position:absolute;
}

.cajita6 {
  background-color: #0000FF;
  width: 100px;
  height:100px;
  margin-left:200px;
}

.cajita7 {
  background-color: #FF00FF;
  width: 100px;
  height:100px;
  position:absolute;
}

.cajita8 {
  background-color: #CD5C5C;
  width: 100px;
  height:100px;
  margin-left:100px;
  position:absolute;
}

.cajita9 {
  background-color: #9400D3;
  width: 100px;
  height:100px;
  margin-left:200px;
}
